@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
  
  color: #29363D;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Spoqa Han Sans Neo', sans-serif;

  box-sizing: border-box;
}

.sr-only {
  display: none !important;
}

input,
button {
  cursor: pointer;
  border: none;
}